txt_files_v1/customer_996_data_2020dec01_to_2020dec05.txt
txt_files_v1/customer_996_data_complete.txt
txt_files_v1/customer_2194_data_2020dec01_to_2020dec05.txt
txt_files_v1/customer_2194_data_complete.txt
txt_files_v1/customer_3451_data_2020dec01_to_2020dec05.txt
txt_files_v1/customer_3451_data_complete.txt
txt_files_v1/customer_5632_data_2020dec01_to_2020dec05.txt
txt_files_v1/customer_5632_data_complete.txt
txt_files_v1/customer_7365_data_2020dec01_to_2020dec05.txt
txt_files_v1/customer_7365_data_complete.txt
txt_files_v2/cust996_allData.txt
txt_files_v2/cust1054_allData.txt
txt_files_v2/cust2194_allData.txt
txt_files_v2/cust3451_allData.txt
txt_files_v2/cust5632_allData.txt
txt_files_v2/cust7365_allData.txt
ELT_v1/forETL_v1.py
ETL_V2/forETL-backup-removingOldDateFunction.py
ETL_V2/forETL-removedMap-removedlistcomptrailingendl.py
pdfs/etl-exercise.pdf
pdfs/etl.pdf
__pycache__/doing_dates.cpython-310.pyc
